:root {
  --sidebar-width: 200px;
}

body {
  font-size: 14px;
  color: #4c5258;
  letter-spacing: 0.5px;
  background: #f7f7ff;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: var(--sidebar-width); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  text-align: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* Active/current link */
.sidenav a.active {
  background-color: #04aa6d;
  color: white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover:not(.active) {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: var(--sidebar-width); /* Same as the width of the sidebar */
  padding: 30px 20px;
}
