body {
  font-size: 14px;
  color: #4c5258;
  letter-spacing: 0.5px;
  background: #fff;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  text-align: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* Active/current link */
.sidenav a.active {
  background-color: #04aa6d;
  color: white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover:not(.active) {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 3% 7%;
  background-color: white;
}

.container {
  margin: 2% 0;
}

/* On smaller screens, where height is less than 700px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {
    float: left;
  }
  div.main {
    margin-left: 0;
  }
}
#content {
  position: relative;
}
#content img {
  position: absolute;
  top: 0px;
  right: 0px;
}
#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

.card {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-title {
  /* color: #fff; */
  /* font-size: 24px;
  font-weight: 300; */
  /* text-transform: uppercase; */
}

.label {
  font-size: 2rem;
  margin-bottom: 7%;
}

.label-success {
  background-color: #04aa6d;
}

.icons {
  color: #04aa6d;
  margin-top: 2rem;
}

/* .icons:hover {
  color: #05dc8d;
} */

.dashboard-column {
  padding: 3% 2%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
    text-align: center;
    float: none;
  }
}
